*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#0f172a,#1d4ed8,#3b82f6);
    overflow-x:hidden;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:40px 20px;
}
img{
    max-width:100%;
    height:auto;
    display:block;
}
.project-image img{
    width:100%;
    max-width:450px;
    margin:auto;
}
.project-card{

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:30px;

    flex-wrap:wrap;

}

.project-content{

    flex:1;

    min-width:300px;

}

.project-image{

    flex:1;

    min-width:300px;

    text-align:center;

}
.feature-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

    gap:20px;

}
.contact{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.contact p{

    min-width:220px;

    text-align:center;

}
.buttons{

    display:flex;

    gap:15px;

    flex-wrap:wrap;

}

.btn,
.btn-outline{

    flex:1;

    min-width:180px;

    text-align:center;

}
/* ===========================
   Laptop
=========================== */

@media (max-width:1024px){

.container{
    width:95%;
}

header h1{
    font-size:42px;
}

.project-card{
    flex-direction:column;
}

.project-content{
    text-align:center;
}

}

/* ===========================
   Tablet
=========================== */

@media (max-width:768px){

header h1{
    font-size:34px;
}

header h3{
    font-size:18px;
}

.contact{
    flex-direction:column;
}

section{
    margin-top:50px;
}

.section-title h2{
    font-size:30px;
}

.project-section,
.projects,
.experience{
    padding:50px 20px;
}

.project-card,
.experience-card{
    padding:20px;
}

.feature-grid{
    grid-template-columns:repeat(2,1fr);
}

.tags{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.buttons{
    flex-direction:column;
}

.btn,
.btn-outline{
    width:100%;
}

}

/* ===========================
   Mobile
=========================== */

@media (max-width:480px){

.container{
    width:100%;
    padding:15px;
}

header h1{
    font-size:28px;
}

header h3{
    font-size:16px;
}

section h2{
    font-size:22px;
}

.feature-grid{
    grid-template-columns:1fr;
}

.project-card{
    padding:15px;
}

.project-content h3{
    font-size:22px;
}

.dashboard-list li{
    font-size:14px;
}

.tags span{
    width:100%;
    text-align:center;
}

.contact p{
    width:100%;
}

}
